body {
    background-color: #0E0E0E;
}

#title{
    font-family: sans-serif;
    font-size: 64px;
    font-weight: 1;
    text-align: center;
    color: greenyellow;
    margin: 0;
} 

#diamond{
    border:1px solid #FFFFFF;
    
}
#diamond_td{
    vertical-align: top;
    align-content: center;
    
}

#playerhand{
    text-align: center;
}

#dealerhand{
    text-align: center;
}
#winner{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 1;
    text-align: center;
    color: orange;
    margin: 0;
}

#play{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 1;
    text-align: center;
    color: greenyellow;
    margin: 0;
    cursor: default;
}

#hit{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 1;
    text-align: center;
    color: greenyellow;
    margin: 0;
    cursor: default;
}
#stand{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 1;
    text-align: center;
    color: greenyellow;
    margin: 0;
    cursor: default;
}

#handlabels {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 1;
    text-align: center;
    color: greenyellow;
    margin: 0;
}

#scorelabels {
       font-family: sans-serif;
        font-size: 18px;
        font-weight: 1;
        text-align: center;
        color: greenyellow;
        margin: 0;
        
}

#acescorelabels {
    font-family: sans-serif;
     font-size: 18px;
     font-weight: 1;
     text-align: center;
     color: greenyellow;
     margin: 0;
}

#runlabels {
    font-family: sans-serif;
     font-size: 18px;
     font-weight: 1;
     text-align: center;
     color: greenyellow;
     margin: 0;
}

#outs {
    font-family: sans-serif;
     font-size: 18px;
     font-weight: 1;
     text-align: center;
     color: greenyellow;
     margin: 0;
}

#pitcher {
    font-family: sans-serif;
     font-size: 18px;
     font-weight: 1;
     text-align: center;
     color: greenyellow;
     margin: 0;
}

#batter {
    font-family: sans-serif;
     font-size: 18px;
     font-weight: 1;
     text-align: center;
     color: greenyellow;
     margin: 0;
}




